[submodule "source/externals/Logger"]
	path = source/externals/Logger
	url = https://github.com/julienhache/Logger.git
[submodule "source/externals/jhack"]
	path = source/externals/jhack
	url = https://github.com/julienhache/jhack.git
